@use "@styles/_mixins.module" as mixin;
@use "@styles/_variables.module" as var;
@use "sass:map";

.box {
  background-color: white;
  border-radius: 4px;
  margin-top: 120px;
}
.title {
  font-size: 18px;
  color: map.get(var.$colors, secondary);
}
