// variables.module.scss
// Lấy giá tri từ map  background-color: var.$colors.get(primary);

$colors: (
  primary: #333,
  secondary: #888,
  tertiary: #555,
  white: #fff,
  sub: #404040,
);
